@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.home {
  padding: 0 24px 48px;
  position: relative;
  height: 94vh;
  background-color: #ffffff;
  background-image: url('../../assets/svgs/home.svg');

  .content {
    display: flex;
    justify-content: center;
    height: 100%;

    .intro {
      flex: 1;
      padding-left: 28px;
      padding-top: 20px;
      p {
        letter-spacing: 2px;
        font-family: 'SiYuanHeiTi', serif;
        text-align: left;
        font-size: 62px;
        font-weight: 600;
        text-shadow: 0 1px 2px rgb(0 34 69 / 70%);
        color: #002245;
        line-height: 1.5;
        .cursor {
          border-left: 6px solid #002245;
          animation: blink 1s infinite;
        }
      }
    }

    .ballWrapper {
      padding: 12px 12px 12px 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .ball {
        position: relative;
        padding: .7em;
        display: inline-flex;
        font-size: 9em;
        font-weight: bold;
        background: red;
        line-height: 1;
        color: white;
        border-radius: 50%;
      }
    }
  }

  .handDown {
    position: absolute;
    left: 50%;
    bottom: 6vh;
    width: 120px;
    transform: translateX(-50%);
    cursor: pointer;
  }
}
