.footer {
  font-size: 16px;
  padding: 10px 0 15px;
  width: 100%;
  background-color: #2f0000;
  text-align: center;

  .techList {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      padding: 8px;
      height: 40px;
    }
  }

  .record {
    text-align: center;

    a {
      color: white;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
