* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 40px;
}

.header {
    display: flex;
    justify-content: center;
}

.track {
    border-bottom: 1px solid black;
}

.player {
    transition: all .3s linear;
}

.playground {
    background: green;
}