.about {
  padding: 48px 24px;
  position: relative;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
  }

  .container {
    margin: 0 auto;
    max-width: 1300px;
    padding: 30px 40px;
    text-align: center;

    h2, h3 {
      text-align: center;
      line-height: 42px;
      text-shadow: 0 1.5px 4px #000;
      color: white;
    }

    .goal {
      margin: 75px 0;
      text-align: center;
      font-size: 1.1em;
    }

    .check {
      text-align: center;
      font-size: 2em;
    }
  }
}
