@keyframes pulse {
  0% {
    transform: scale(1, 1);
    border-color: black;
  }

  100% {
    transform: scale(1.2, 1.5);
    border-color: transparent;
  }
}

.about {
  padding: 48px 24px;
  position: relative;
  background-image: url("../../assets/svgs/about-bg.svg");
  background-position: center center;
  background-size: cover;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
  }

  h2,
  h3 {
    text-align: center;
    line-height: 42px;
    text-shadow: 0 1.5px 4px #000;
    color: white;
  }

  .goal {
    margin: 75px 0;
    text-align: center;
    font-size: 1.1em;
    line-height: 1.75;
  }

  .check {
    text-align: center;
    font-size: 2em;
  }

  .pulse {
    font-size: 2.5em;
    text-shadow: 0 1.5px 4px #000;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      animation: pulse 2s cubic-bezier(0.57, 0.06, 0.27, 0.84) infinite;
      border-radius: 4px;
      border: 3px solid #15a000;
      background: transparent;
      z-index: 1;
    }
  }

  .justForFun {
    font-style: italic;
    color: #37ffe1;
  }
}
