.handDown {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  color: #ff771e;
  cursor: pointer;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    transform: scale(0);
    transition: all .3s;
  }

  &:hover {
    color: red;

    &:after {
      background-color: rgba(255,0,198,.11);
      transform: scale(2);
    }
  }

  @media screen and (max-width: 992px) {
    & {
      width: 40px;
      height: 40px;
    }
  }
}
