.project {
  padding: 48px 24px;
  background-color: black;
  background-image: url("../../assets/svgs/project.svg");

  .projectList {
    display: flex;
  }

  .more {
    margin-top: 60px;
    h3 {
      margin-bottom: 0 !important;
    }
  }
}
