.project {
  padding: 48px 24px;
  background-color: black;
  background-image: url("../../assets/svgs/project.svg");

  .projectList {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
    list-style-type: none !important;
  }

  .projectListColumn {
    background-clip: padding-box;
  }

  .more {
    padding: 24px;
    .moreBtn {
      font-size: 2em;
      width: 100%;
    }
  }

  .footerTitle {
    margin-top: 60px;
    i {
      font-style: italic
    }
  }
}
