.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

a {
  text-decoration: none;
  transition: all 300ms;
}

h1 {
  margin-bottom: 16px;
}

ul {
  padding-left: 2em;
  > li {
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
